node_modules
frontend/node_modules
frontend/.next
__pycache__
*.pyc
*.pyo
.git
artifacts
raw_data
processed_data/log_zscored
processed_data/transposed
processed_data/zscored
processed_data/annotation
processed_data/filtered
archive
docs
r
*.Rproj
